<p><%= image_tag @picture.image.url %></p>
<p>
  <strong>message:</strong>
  <%= @picture.content %>
</p>
<% if @picture.user == current_user %>
  <%= link_to "Edit", edit_picture_path %>
<% else %>
  <a></a>
<% end %>
<%= link_to 'Back', pictures_path %>
